<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.demo.core.mapper.IUserMapper">
    <select id="queryUser" resultType="java.util.Map">
        select * from user
    </select>

    <select id="queryUserCount" resultType="int">
        select count(1) from user
    </select>

    <select id="queryUserList" resultType="com.itheima.demo.core.vo.UserVO">
        select * from user
    </select>
</mapper>